* {
  box-sizing: border-box;
}
.block1234,
.subconteiner12,
.subconteiner34,
.subconteiner56 {
  display: flex;
}
.block {
  background-color: gray;
  padding: 10px;
  margin: 10px;
}

	@media screen and (max-width:800px) {
 
.subconteiner12

{
  display: flex;
  flex-direction: column-reverse;

  
}
.subconteiner34{
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width:375px) {
 .block1234,
.subconteiner12,
.subconteiner34,
.subconteiner56 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.block {
  background-color: grey;
  padding: 10px;
  margin: 10px;
}